# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
*.sqlite3
*.sqlite3-journal
staticfiles/
media/

# Env
.env
venv/
env/
.venv/

# Vercel
.vercel/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
